                  @import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
                  body {
                      font-family: 'Quicksand', sans-serif;
                  }
                  
                  .rowDesign {
                      display: flex;
                      padding: 5px;
                      flex-wrap: wrap;
                      .columDesign {
                          flex: 25%;
                          padding: 5px;
                          video {
                              width: 100%;
                              margin-top: 5px;
                              &:hover {
                                  transform: translateY(-3px) scale(1.05);
                                  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
                              }
                          }
                          @media (max-width:800px) {
                              .columDesign {
                                  flex: 50%
                              }
                          }
                          @media (max-width:600px) {
                              .columDesign {
                                  flex: 100%
                              }
                          }
                      }
                  }