/*    font-family: 'Playfair Display'; */


/*colores*/


/*       #d9d4e7
        #0e172c
        #ece8f7
         antiquewhite
         rgb(238, 174, 202)
*/

.fontTitulos {
    font-family: 'Playfair Display', serif;
    justify-content: center;
    animation-duration: 5s;
    animation-name: aparecerHero;
}