body {
    .hero {
        display: flex;
        color: white;
        background: rgb(238, 174, 202);
        background: linear-gradient(106deg, rgba(238, 174, 202, 1) 34%, rgba(217, 212, 231, 0.9612219887955182) 100%);
        height: 50vh;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        .letterSparcing {
            letter-spacing: 2px;
            color: white;
            animation-duration: 5s;
            animation-name: aparecerHero;
        }
        .camilaRocioDiaz {
            color: white;
            font-size: 3rem;
            font-family: "Playfair Display", serif;
            animation-duration: 5s;
            animation-name: aparecerHero;
        }
        @keyframes aparecerHero {
            0% {
                transform: translatey(0px);
            }
            100% {
                transform: translatey(20px);
            }
        }
    }
    main {
        margin: 10%;
        .borde {
            border: solid;
            padding: 1rem;
            border-color: grey;
            transform: translate(50px, 50px);
            display: flex;
            width: 90%;
            margin: 4;
            flex-direction: column;
            align-content: stretch;
            align-items: flex-start;
        }
        .sobreMi {
            background-color: #d9d4e7;
            padding: 0.5rem;
            width: auto;
            display: flex;
            width: 90%;
            margin: 4;
            align-items: baseline;
            justify-content: flex-start;
            flex-direction: column;
            .imageSobreMi {
                padding: 1rem;
                margin: auto;
                width: 85%;
                position: absolute;
                margin-top: -2rem;
                transition-duration: 2s;
                animation-duration: 2s;
                animation-name: aparecerHero;
            }
            .textoSobreMi {
                color: black;
                text-align: justify;
                padding: 25px;
                position: relative;
                margin-left: 68vh;
                margin-bottom: 1rem;
                transform: translate(0, -4rem);
                animation-duration: 2s;
                animation-name: aparecerHero;
                @keyframes opacity {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 0.5;
                        transform: rotate(10deg);
                        transform: translatey(10vh);
                    }
                }
            }
            h4 {
                font-family: "Playfair Display", serif;
                text-align: center;
                display: inline-block;
                padding-top: 18%;
                color: #0e172c;
                font-size: 4rem;
            }
            p {
                color: black;
                text-align: unset;
                font-family: "Inter", sans-serif;
                padding: 3rem;
                margin: 1rem;
            }
        }
    }
}