main {
    div .ups {
        .upsHijo {
            margin: 1rem;
        }
    }
    div {
        h3.textoUps {
            text-align: center;
            font-size: 5rem;
            font-family: 'Playfair Display';
        }
        p.textoUps {
            text-align: center;
        }
    }
}